<section class="bgimage" [style.background]="'url(' + apiUrl + '/races/' + race.id + '/b.jpg' + ') no-repeat center'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h1>{{ race.name }}</h1>
      </div>
    </div>
  </div>
</section>
<section>
  <nav class="breadcrumb-nav" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ race.name }}</li>
      </ol>
    </div>
  </nav>
</section>
<section class="mt-4">
  <div class="container">
    <div class="col-md-12">
      <p class="date">{{ race.startDate | date:'dd/MM/yyyy' }} - {{ race.endDate | date:'dd/MM/yyyy' }}</p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="col-md-12">
      <h1 class="fw-normal">Description</h1>
      <p class="lead">{{ race.description }}</p>
      <div><strong>Nom du circuit </strong>
        <p class="description-details">{{ race.Circuit.name || "Non défini" }}</p>
      </div>
      <div><strong>Longueur </strong>
        <p class="description-details">{{ race.Circuit.length || "Non défini" }} km</p>
      </div>
      <div><strong>Course </strong>
        <p class="description-details">2/23</p>
      </div>
    </div>
  </div>
</section>
<section class="mt-3 mb-5">
  <div class="container">
    <div class="col-md-12">
      <h1 class="fw-normal">Tickets</h1>
      <div *ngFor="let cat of keys(offers)">
        <h4 class="mt-4 categorie"><strong>{{ cat }}</strong></h4><!-- Cat -->
        <table class="table table-hover">
          <thead style='display:none;'>
          <tr>
            <th scope="col col-auto">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité</th>
            <th scope="col text-right">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let offer of offers[cat]">
            <td class="items col-auto">
              {{ offer.name }}
            </td>
            <td class="items">
              {{ offer.price }}€
            </td>
            <td class="text-right">
              <select (change)="selectChangeHandler($event, offer.id)" *ngIf="offer.openBookWebsite == true" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <p *ngIf="offer.openBookWebsite == false" class="text-danger mb-0 font-weight-bold text-center">Epuisé</p>
            </td>
            <td class="text-right" *ngIf="offer.openBookWebsite == true">
              <button (click)="addInCart(offer)" class="btn btn-outline-success" data-toggle="tooltip"> <i class="fa fa-shopping-bag"></i></button>
            </td>
            <td class="text-right" *ngIf="offer.openBookWebsite == false">
              <span class="btn btn-outline-danger" data-toggle="tooltip"> <i class="fa fa-shopping-bag"></i></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <section *ngIf="keys(offers).length == 0 || offers == null">
        <div class="jumbotron jumbotron-fluid py-5">
          <div class="container">
            <h1 class="display-6">Information</h1>
            <p class="lead">Malheuresement, aucun ticket n'est disponible pour ce grand prix. <br> Revenez plus tard!</p>
            <hr>
            <p>Etre notifié par email d'une nouvelle disponibilité:</p>
            <form class="form-inline info-form custom-form" method="post">
              <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Votre adresse mail"></div>
              <div class="form-group"><button class="btn btn-primary" type="submit">Envoyer </button></div>
            </form>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>
