<section class="bgimage" [style.background]="'url(' + apiUrl + '/races/' + race.id + '/b.jpg' + ') no-repeat center'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h1>{{ race.name }}</h1>
      </div>
    </div>
  </div>
</section>
<section>
  <nav class="breadcrumb-nav" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ race.name }}</li>
      </ol>
    </div>
  </nav>
</section>
<section class="mt-4">
  <div class="container">
    <div class="col-md-12">
      <p class="date">{{ race.startDate }} - {{ race.endDate }}</p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="col-md-12">
      <h1 class="fw-normal">Description</h1>
      <p class="lead">{{ race.description }}</p>
      <div><strong>Nom du circuit </strong>
        <p class="description-details">{{ race.Circuit.name || "Non défini" }}</p>
      </div>
      <div><strong>Longueur </strong>
        <p class="description-details">{{ race.Circuit.length || "Non défini" }} km</p>
      </div>
      <div><strong>Course </strong>
        <p class="description-details">2/23</p>
      </div>
    </div>
  </div>
</section>
<section class="mt-3 mb-5">
  <div class="container">
    <div class="col-md-12">
      <h1 class="fw-normal">Tickets</h1>
      <h4 class="mt-4 categorie"><strong>HOSPITALITY</strong></h4><!-- Cat -->
      <table class="table table-hover">
        <thead style='display:none;'>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="items">
            PADDOCK CLUB
          </td>
          <td class="items" width="100">
            Vendredi
          </td>
          <td class="items" width="100">
            690€
          </td>
          <td width="80">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </td>
          <td>
            <a href="#" class="btn btn-outline-success" data-toggle="tooltip"> <i class="fa fa-shopping-bag"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
      <section>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Information</h1>
            <p class="lead">Malheuresement, aucun ticket n'est disponible pour ce grand prix. <br> Revenez plus tard!</p>
            <hr>
            <p>Etre notifié par email d'une nouvelle disponibilité:</p>
            <form class="form-inline info-form custom-form" method="post">
              <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Votre adresse mail"></div>
              <div class="form-group"><button class="btn btn-primary" type="submit">Envoyer </button></div>
            </form>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>
