<section class="begin-section mb-5">
    <div class="container" style="max-width: 1240px">
        <div class="row">
            <div class="col-md-9">
                <div class="cart">
                    <div class="cart-title">
                        <h5>Tickets dans votre panier</h5>
                    </div>
                    <div class="cart-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                  <th scope="col">Grand Prix</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Description</th>
                                  <th scope="col">Quantité</th>
                                  <th scope="col">Prix</th>
                                  <th scope="col">Suppr.</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of getItems()">
                                        <td class="panier-item">
                                            <img src="{{ apiUrl }}/races/{{ item.race.circuitId }}/flag.png" alt="" class="mr-2" style="width: 20px">
                                          {{ item.race.name }}
                                        </td>
                                        <td class="panier-item">
                                          {{ item.race.startDate | date:'dd/MM' || "A définir" }} - {{ item.race.endDate | date:'dd/MM' || "A définir" }}
                                        </td>
                                        <td class="panier-item">
                                            {{ item.offer.name }}
                                        </td>
                                        <td width="80">
                                            {{ item.number }}
                                        </td>
                                        <td class="panier-item">
                                            {{ item.number * item.offer.price | number }} €
                                        </td>
                                        <td>
                                            <span (click)="removeOffer(item.id)" class="btn btn-outline-danger" data-toggle="tooltip"> <i class="fa fa-remove"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                              </div>
                    </div>
                    <div class="cart-content">
                        <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i>
                            Paiement</button>
                        <a routerLink="" class="btn btn-white"><i class="fa fa-arrow-left"></i> Continuer vos achat</a>

                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="cart">
                    <div class="cart-title">
                        <h5>Votre commande</h5>
                    </div>
                    <div class="cart-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                          {{ totalPrice() }}€ TTC
                        </h2>

                        <hr>
                        <div class="m-t-sm">
                            <div class="btn-group">
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i>
                                    Paiement</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cart offers">
                    <div class="cart-content">
                        <div class="cart-title">
                            <h5>Des offres qui pourraient vous interresser</h5>
                        </div>
                        <hr>
                                <div class="profile-content text-center">
                                    <div class="small-flag"><img src="../../assets/2/flag.png" alt=""></div>
                                    <h5 class="fw-normal">GRAND PRIX DE BAHREIN</h5>
                                    <div class="date">
                                        19/03 - 21/03
                                    </div>
                                    <p class="lead fw-normal">à partir de 42€</p>
                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Découvrir <i
                                        class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
