<section class="begin-section mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="cart">
                    <div class="cart-title">
                        <h4>Votre reservation</h4>

                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                              <h1 class="display-8"><img src="../../assets/2/flag.png" alt="" class="mr-2 big-flag" style="width: 100px"> GRAND PRIX DE BAHREIN </h1>
                              <p class="reservation-lead mt-4">Stiva Rajaspera (<a href="mailto:stiva.rajaspera@dauphine.eu">stiva.rajaspera@dauphine.eu</a>)</p>
                              <p class="reservation-lead">PADDOCK CLUB</p>
                              <p class="reservation-lead"><strong>Numéro commande: </strong> 15515</p>
                              <div>
                                <button class="btn btn-primary mt-4"><i class="fa fa-download"></i> Télécharger votre billet</button>
                            </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>