<section class="begin-section mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="flex-grow-1 d-flex flex-column flex-sm-row mb-4">
              <div class="font-size-18 text-uppercase mb-4">
                <div>Réservation:</div>
                <img class="d-block mt-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/F1_logo.svg/1280px-F1_logo.svg.png" alt="Amazon logo" style="width: 100px">
              </div>
              <div class="ml-sm-auto mr-lg-auto pr-3">
                Formula One Digital Media Limited <br>
                N° 2 St James’s Market, London, SW1Y 4AH<br>
                E-mail: admin@formula1.com<br>
                Téléphone: (+33) 01 02 03 04 05<br>
              </div>
            </div>
            <div class="flex-grow-1 d-flex flex-column flex-sm-row mb-4">
              <div class="font-size-18 text-uppercase pb-4">
                <div class="text-dark font-weight-bold mb-3">FACTURE</div>
                <div class="text-dark">
                  Saison <span class="font-weight-bold">2021</span>
                </div>
              </div>
              <div class="mt-auto mt-sm-0 ml-sm-auto pr-3 mr-lg-auto">
                {{ booking.firstName || "" }} {{ booking.lastName || "" }}<br>
                {{ booking.address }}, {{ booking.city }}<br>
                <span class="font-weight-bold">Ref:</span> {{ booking.referenceWebsite }}<br>
                <span class="font-weight-bold">Date:</span> {{ booking.bookAt | date:'dd/MM/yyyy' }}<br>
                <span class="font-weight-bold">Email:</span> {{ booking.email }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
      <div class="col-lg-8">
        <h3>Tickets</h3>
      </div>
      <div *ngIf="booking.OfferBookings.length == 0" class="col-lg-8 text-center mt-5">
        <img src="assets/car-empty.png" style="width: 150px">
        <p class="text-secondary">Aucun ticket dans cette commande</p>
      </div>
      <div class="col-lg-8 mt-4" *ngFor="let offerBooking of booking.OfferBookings">
        <div class="card">
            <div class="card-header d-flex">
              <h5>
                <img src="{{ apiUrl }}/races/{{ offerBooking.Offer.Race.circuitId }}/flag.png" alt="" class="mr-2 big-flag" style="width: 40px"> {{ offerBooking.Offer.Race.name }}
              </h5>
              <div class="ml-auto">
                <a type="button" (click)="updateQRCode(offerBooking.Offer.ticketPrefix + booking.referenceWebsite + '-' + offerBooking.id)" class="btn btn-secondary" data-toggle="modal" data-target="#qrCode">
                  Afficher le QR Code
                </a>
              </div>
            </div>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Nom de l'offre</dt>
                <dd class="col-sm-9">{{ offerBooking.Offer.name }}</dd>
                <dt class="col-sm-3">Catégorie</dt>
                <dd class="col-sm-9">{{ offerBooking.Offer.category }} </dd>
                <dt class="col-sm-3">Référence ticket</dt>
                <dd class="col-sm-9">{{ offerBooking.Offer.ticketPrefix }}{{ booking.referenceWebsite }}-{{ offerBooking.id}}</dd>
                <dt class="col-sm-3">Nombre de places</dt>
                <dd class="col-sm-9">{{ offerBooking.count }} </dd>
                <dt class="col-sm-3">Actions</dt>
                <dd class="col-sm-9"><a class="text-danger" style="cursor: pointer" (click)="deleteTicket(offerBooking.id)">Supprimer</a></dd>
              </dl>
              <div class="row">
                <div class="col-lg-12 d-flex">
                  <h5 class="mb-4">
                    <strong>Invités sur ces places</strong>
                  </h5>
                  <div class="ml-auto">
                    <a *ngIf="offerBooking.BookingPeople.length < offerBooking.count"  href="#" (click)="updateSelectedOfferBooking(offerBooking)" data-toggle="modal" data-target="#formAddParticipant">Ajouter</a>
                  </div>
                </div>
                <div class="col-lg-12">

                  <div class="table-responsive mb-5">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th class="text-right">Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let people of offerBooking.BookingPeople">
                        <td>{{ people.firstName }}</td>
                        <td>{{ people.lastName }}</td>
                        <td>{{ people.email }}</td>
                        <td class="text-right"><a style="cursor: pointer" (click)="removeUser(offerBooking, people)" class="text-danger">Enlever</a></td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="text-center" *ngIf="offerBooking.BookingPeople.length == 0">
                        <img src="assets/empty-people.svg" style="width: 100px">
                      <p class="text-secondary mt-1">Aucun invité pour ce ticket</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="modal fade" tabindex="-1" id="qrCode" role="dialog" aria-labelledby="qrCode" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle__55">Informations </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <qrcode [qrdata]="selectedReferenceQrCode || 'null'" [width]="300" [allowEmptyString]="true" [elementType]="'svg'" [scale]="20" [version]="10" [errorCorrectionLevel]="'M'"></qrcode>
          <p class="text-secondary">QR code unique pour passer les portiques</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="formAddParticipant" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajout d'invités</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="submitPeople(f)" #f="ngForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstName">Prénom</label>
                <input type="text" name="firstName" class="form-control" id="firstName" required="" ngModel>
              </div>
              <div class="form-group col-md-6">
                <label for="lastName">Nom</label>
                <input type="text" name="lastName" class="form-control" id="lastName" required="" ngModel>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" id="email" required="" ngModel>
            </div>
            <div class="form-row text-right mt-2">
              <button type="submit" [disabled]="f.invalid" class="btn btn-success text-right px-5 ml-auto">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
