<section class="begin-section mb-5">
    <div class="container" style="max-width: 1450px !important;">
        <div class="row">
            <div class="col-md-10">
                <div class="cart">
                    <div class="cart-title">
                        <h4>Tickets réservés pour la saison 2021</h4>
                    </div>
                    <form class="mt-3">
                        <div class="cart-content">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date achat</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Qt.</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Mail client</th>
                                            <th scope="col">Nom client</th>
                                            <th scope="col">Suppr.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let booking of bookingOffers">
                                          <td>
                                                {{ booking.createdAt | date:'dd/MM/yyyy' }}
                                            </td>
                                            <td>
                                                <img src="{{ apiUrl }}/races/{{ booking.Offer.Race.circuitId }}/flag.png"
                                                    alt="" class="mr-2" style="width: 20px">
                                                {{ booking.Offer.name }}
                                            </td>
                                            <td>
                                                {{ booking.count }}
                                            </td>
                                            <td>
                                              {{ booking.count * booking.Offer.price }} €
                                            </td>
                                            <td>
                                                {{ booking.Booking.email }}
                                            </td>
                                            <td>
                                              {{ booking.Booking.lastName }} {{ booking.Booking.firstName }}
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-outline-danger" data-toggle="tooltip"> <i class="fa fa-remove"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cart">
                    <div class="cart-title">
                        <h5>Statistiques</h5>
                    </div>
                    <div class="cart-content">
                        <span>
                            Nombre tickets vendus
                        </span>
                        <h2 class="font-bold">
                            {{ ticketsCount }}
                        </h2>
                        <span>
                            Total ventes
                        </span>
                        <h2 class="font-bold">
                          {{ sellCount }} €
                        </h2>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
