<section class="begin-section mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="cart">
                    <div class="cart-title">
                        <h4>Tickets réservés pour la saison 2021</h4>
                    </div>
                    <form class="mt-3">
                        <div class="form-group form-inline">
                            Rechercher: <input class="form-control ml-2" type="text"  /> <!-- [formControl]="filter" -->
                        </div>
                        
                        <div class="cart-content">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Date achat</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Qt.</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Mail client</th>
                                            <th scope="col">Nom client</th>
                                            <th scope="col">Suppr.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                1
                                            </td>

                                            <td>
                                                27/12/2020
                                            </td>
                                            <td>
                                                <!-- remplacer par asset-->
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Canada.svg"
                                                    alt="" class="mr-2" style="width: 20px">
                                                PADDOCK CLUB
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                2500€
                                            </td>
                                            <td>
                                                stiva.rajaspera@dauphine.eu
                                            </td>
                                            <td>
                                                Rajaspera Stiva
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-outline-danger" data-toggle="tooltip"> <i class="fa fa-remove"></i></a>  
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cart">
                    <div class="cart-title">
                        <h5>Statistiques</h5>
                    </div>
                    <div class="cart-content">
                        <span>
                            Nombre tickets vendus
                        </span>
                        <h2 class="font-bold">
                            1
                        </h2>
                        <span>
                            Nombre clients
                        </span>
                        <h2 class="font-bold">
                            1
                        </h2>
                        <span>
                            Total ventes
                        </span>
                        <h2 class="font-bold">
                            2500€
                        </h2>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>