
@font-face {
  font-family: "F1FontBold";
  src: url('assets/fonts/Formula1-Regular_web_0.ttf');
 }

 @font-face {
  font-family: "Titilium";
  src: url("assets/fonts/TitilliumWeb-Regular.ttf");
 }

h1,h2,h3,h4,h5,.navbar-brand{
  font-family: "F1FontBold";
}

a,p,div{
  font-family: "Titilium";
}

a {
  text-decoration: inherit;
  color: inherit;
}

footer{
  margin-top: 40px;
}



