@font-face {
  font-family: "F1FontBold";
  src: url('assets/fonts/Formula1-Regular_web_0.ttf');
 }

 @font-face {
  font-family: "Titilium";
  src: url("assets/fonts/TitilliumWeb-Regular.ttf");
 }

h1,h2,h3,h4,h5,.navbar-brand{
  font-family: "F1FontBold";
}

a,p,div{
  font-family: "Titilium";
}

a {
  text-decoration: inherit;
  color: inherit;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.custom-form .form-control {
background:#eff1f4;
border:none;
border-radius:3px;
box-shadow:none;
outline:none;
color:inherit;
text-indent:9px;
height:45px;
margin-right:10px;
min-width:250px;
}

.custom-form .btn {
padding:16px 32px;
border:none;
background:none;
box-shadow:none;
text-shadow:none;
opacity:0.9;
text-transform:uppercase;
font-weight:bold;
font-size:13px;
letter-spacing:0.4px;
line-height:1;
}

.custom-form .btn:hover {
opacity:1;
}

.custom-form .btn:active {
transform:translateY(1px);
}

.custom-form .btn-primary {
background-color:#e7230b !important;
color:#fff;
outline:none !important;
}

.begin-section{
  margin-top: 100px;
}


