<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="banner_content">
                        <h2 class="font-weight-bold">
                            Des billets de F1® <br>
                            au meilleur prix!
                        </h2>
                        <p>
                            Entrez dans le monde de la vitesse et des voitures les plus rapides avec la formule 1 !
                            Prenez vos billets dès maintenant et découvrez la F1 en direct depuis l'un de ses circuits
                            mythiques!
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="col-md-12">
        <h1 class="fw-normal">2021 FIA FORMULA ONE <br> WORLD CHAMPIONSHIP</h1>
        <p class="lead">Tickets pour la nouvelle saison déjà disponible.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let race of races$" [routerLink]="['/race', race.id]" class="col-md-4">
            <div class="card text-center">
                <img src="{{ apiUrl }}/races/{{ race.circuitId }}/b.jpg" class="card-img img img-responsive">
                <div class="card-content">
                    <div class="card-flag"><img src="{{ apiUrl }}/races/{{ race.id }}/flag.png" alt=""></div>
                    <h4 class="card-title fw-normal">{{ race.name }}</h4>
                    <p class="card-presentation fw-normal">{{ race.description }}</p>
                    <div class="card-date">
                        {{ race.startDate | date:'dd/MM/yyyy' || "A définir" }} - {{ race.endDate | date:'dd/MM/yyyy' ||
                        "A définir" }}
                    </div>
                    <p class="lead fw-normal">à partir de {{ getMinPrice(race.Offers) }} €</p>

                </div>
            </div>
        </div>
    </div>