<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="banner_content">
                        <h2>
                            Des billets de F1® <br>
                            au meilleur prix!
                        </h2>
                        <p>
                            Entrez dans le monde de la vitesse et des voitures les plus rapides avec la formule 1 !
                            Prenez vos billets dès maintenant et découvrez la F1 en direct depuis l'un de ses circuits
                            mythiques!
                        </p>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-primary">Découvrir maintenant</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="home_right_img">
                        <img class="img-fluid" src="img/banner/home-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="col-md-12">
        <h1 class="fw-normal">2021 FIA FORMULA ONE WORLD CHAMPIONSHIP</h1>
        <p class="lead">Tickets pour la nouvelle saison déjà disponible.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- <h4 class="text-center"><strong>STYLE 3</strong></h4>
    <hr> -->
            <div class="card text-center">
                <img src="../../assets/a.png" class="desc img img-responsive">
                <div class="profile-content">
                    <div class="flag"><img src="../../assets/flag.png" alt=""></div>
                    <h4 class="fw-normal">GRAND PRIX D'AUSTRALIE</h4>
                    <div class="date">
                        19/03 - 21/03
                    </div>
                    <p class="lead fw-normal">à partir de 56€</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <img src="../../assets/2/a.png" class="desc img img-responsive">
                <div class="profile-content">
                    <div class="flag"><img src="../../assets/2/flag.png" alt=""></div>
                    <h4 class="fw-normal">GRAND PRIX DE BAHREIN</h4>
                    <div class="date">
                        19/03 - 21/03
                    </div>
                    <p class="lead fw-normal">à partir de 42€</p>

                </div>
            </div>
        </div>
    </div>